<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>
    <h1>Your Cart</h1>
    <ul>
        <% cart.items.forEach(item => { %>
            <li>
                <%= item.product.name %> - <%= item.quantity %> - <%= item.product.price %>
            </li>
        <% }); %>
    </ul>
    <a href="/checkout">Proceed to Checkout</a>
</body>
</html>
